form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
}
.title {
    user-select: none;
    font-size: 1.7em;
    font-family: "Galiver";
    margin-bottom: 5px;
}
.error {
    color: #e54d52;
    font-size: .7em;
    transition: all .5s;
    max-height: 15px;
}
.error.hide {
    max-height: 0;
    opacity: 0;
}
@media screen and (max-width: 500px) {
    .modal {
        margin-bottom: 30%;
        padding: 20px 0!important;
        width: 100%;
        border-radius: 0px!important;
    }
}
.modal {
    box-shadow: 0 0 30px -5px #0a0a0a;
    display: flex;
    flex-direction: column;
    padding: 25px 60px;
    max-width: 100%;
    background-color: #0a0a0a;
    border-radius: 30px;
    align-items: center;
    position: relative;
    transition: opacity .5s;
}

input {
    font-family: "Golos";
    appearance: none;
    display: block;
    color: white;
    outline: none;
    transition: border-color .3s;
    border: 2px solid #161616;
}
input:not([type="submit"]){
    background-color: transparent;
    padding: 5px 7px;
    border-radius: 7px;
}
input:not([type="submit"]):focus,input:not([type="submit"]):active{
    border-color: #ffffff33;
}
input[type="file"]{
    font-size: .85em;
}
select{
    background-color: #161616;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
input[type="file"],input[type="file"]::file-selector-button{
    padding: 5px 7px!important;
    width: auto!important;
}
input[type="submit"], input[type="file"],input[type="file"]::file-selector-button{
    margin-top: 5px;
    background-color: #161616;
    cursor: pointer;
    border-radius: 7px;
    width: 60%;
    color: white;
    padding: 5px 0;
    font-weight: 700;
    font-size: .8em;
    transition: background-color .3s;
    -webkit-tap-highlight-color: transparent;
}
input[type="submit"]:hover,input[type="submit"]:focus,input[type="file"]::file-selector-button{
    background-color: #212121;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #0a0a0a inset;
  transition: background-color 5000s ease-in-out 0s,border-color .3s;
  caret-color: #fff;
}