<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дневник | Лицей 130</title>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css"/>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/build/md5.min.js"></script>
</head>
<body>
    <div class="loadercont">
        <span class="loader"></span>
    </div>
    <div class="modalcont hide">
        <div class="modal">
            <a class="title">Смена пароля</a>
            <a class="error hide"></a>
            <form id="chng">
                <input type="password" placeholder="Старый пароль" id="old_val" min="5" max="64" required>
                <input type="password" placeholder="Новый пароль" id="new_val" min="5" max="64" required>
                <input type="submit" value="Изменить">
            </form>
        </div>
    </div>
    <div class="cont">
        <div class="maincont">
            <div class="headercont opened">
                <div class="header"><a class="usname">{{ ctx.fullname }}</a><a class="openmenu"><i class="fa-solid fa-angle-down"></i></a></div>
                <a class="lastupd">Обновлено {{ ctx.last_update }}</a>
                <div class="menu">
                    <a class="menuitem" onclick="openModal()"><i class="fa-solid fa-pen-to-square"></i> Изменить пароль</a>
                    <a class="menuitem" onclick="window.location.replace('/logout')"><i class="fa-solid fa-arrow-right-from-bracket"></i> Выйти</a>
                </div>
            </div>
            <div class="selecttab" id="tabselect">
                <div class="selectvar selected" name="marks"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;Оценки</div>
                <div class="selectvar" name="schedule"><i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;Расписание</div>
            </div>
            <div class="markscont">
                <div id="markstab">
                    <div data-simplebar>
                        {% include "marks.html" with context %}
                    </div>
                </div>
                <div id="scheduletab" style="display: none;">
                    <div class="selecttab selecttab2" id="tabselect1">
                        <div class="selectvar selected" name="today">Сегодня</div>
                        <div class="selectvar" name="tomorrow">{{ ctx.skip_to }}</div>
                    </div>
                    {% include "schedule.html" with context %}
                </div>
            </div>
        </div>
    </div>
    <div class="by">by <a href="https://t.me/btless" target="_blank" rel="noopener noreferrer">@btless</a> & <a href="https://t.me/n1ret" target="_blank" rel="noopener noreferrer">@n1ret</a></div>
</body>
<script>const my_user_id={{ ctx.user_id }}</script>
<script src="/static/js/index.js"></script>
<script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
<script defer>
  window.OneSignalDeferred = window.OneSignalDeferred || [];
  OneSignalDeferred.push(function(OneSignal) {OneSignal.init({appId: "a6b1db30-fd47-4059-a78d-2f00e339e7a9"});});
</script>
<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(94877549, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true,defer: true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/94877549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</html>