<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дневник | Лицей 130</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-md5@0.7.3/build/md5.min.js"></script>
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/inputs.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <span class="loader hide"></span>
    <div class="modal">
        <a class="title">
            Дневник
        </a>
        <a class="error hide"></a>
        <form id="lgn">
            <input type="text" id="lgn_val" name="login" placeholder="Логин" min="5" max="64" required>
            <input type="password" id="pswd_val" name="password" placeholder="Пароль" min="5" max="64" required>
            <input type="submit" value="Войти">
        </form>
    </div>
    <div class="by">by <a href="https://t.me/btless" target="_blank" rel="noopener noreferrer">@btless</a> & <a href="https://t.me/n1ret" target="_blank" rel="noopener noreferrer">@n1ret</a></div>
</body>
<script src="/static/js/login.js"></script>
<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(94877549, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true,defer: true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/94877549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</html>