{% if ctx.today_schedule%}
<table class="schedule" id="todaytab">
    <tr>
        <th colspan="2">{{ ctx.classr }}</th>
    </tr>
    {% for lesson in ctx.today_schedule %}
    <tr>
        <td>{{ lesson[0] }}</td>
        <td>{{ lesson[1] }} <a>{{ lesson[2] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<table class="schedule" id="todaytab">
    <tr>
        <th class="notfound">Расписания нет</th>
    </tr>
    <tr>
        <td><div class='onesignal-customlink-container'></div></td>
    </tr>
</table>
{% endif %}

{% if ctx.tomorrow_schedule%}
<table class="schedule" id="tomorrowtab" style="display: none;">
    <tr>
        <th colspan="2">{{ ctx.classr }}</th>
    </tr>
    {% for lesson in ctx.tomorrow_schedule %}
    <tr>
        <td>{{ lesson[0] }}</td>
        <td>{{ lesson[1] }} <a>{{ lesson[2] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<table class="schedule" id="tomorrowtab" style="display: none;">
    <tr>
        <th class="notfound">Расписания пока нет</th>
    </tr>
    <tr>
        <td><div class='onesignal-customlink-container'></div></td>
    </tr>
</table>
{% endif %}