{% if ctx.today_schedule%}
{% set tshow = ctx.today_schedule[-1][0].split(' - ')[1]>ctx.current_timestamp %}
{% else %}
{% set tshow = false %}
{% endif %}
<div class="selecttab selecttab2" id="tabselect1">
    <div class="selectvar {{ 'selected' if tshow else '' }}" name="today">Сегодня</div>
    <div class="selectvar {{ '' if tshow else 'selected' }}" name="tomorrow">{{ ctx.skip_to }}</div>
</div>
{% if ctx.today_schedule%}
<table class="schedule" id="todaytab" {%if not tshow%}style="display: none;"{%endif%}>
    <tr>
        <th colspan="2">{{ ctx.classr }}</th>
    </tr>
    {% for lesson in ctx.today_schedule %}
    {% set ctimes = lesson[0].split(' - ') %}
    <tr {%if ctimes[0]<ctx.current_timestamp<ctimes[1]%}style="font-weight: 700;"{%endif%}>
        <td>{{ lesson[0] }}</td>
        <td>{{ lesson[1] }} <a>{{ lesson[2] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<table class="schedule" id="todaytab" {%if not tshow%}style="display: none;"{%endif%}>
    <tr>
        <th class="notfound">Расписания нет</th>
    </tr>
    <tr>
        <td><div class='onesignal-customlink-container'></div></td>
    </tr>
</table>
{% endif %}

{% if ctx.tomorrow_schedule%}
<table class="schedule" id="tomorrowtab" {%if tshow%}style="display: none;"{%endif%}>
    <tr>
        <th colspan="2">{{ ctx.classr }}</th>
    </tr>
    {% for lesson in ctx.tomorrow_schedule %}
    <tr>
        <td>{{ lesson[0] }}</td>
        <td>{{ lesson[1] }} <a>{{ lesson[2] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<table class="schedule" id="tomorrowtab" {%if tshow%}style="display: none;"{%endif%}>
    <tr>
        <th class="notfound">Расписания пока нет</th>
    </tr>
    <tr>
        <td><div class='onesignal-customlink-container'></div></td>
    </tr>
</table>
{% endif %}